@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&family=Poppins:wght@300&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* //////header////// */
.header{
  height: 12vh;
  width: 100%;
  /* border: 2px solid blue; */
  background: #FAF3DD;
  display: none;
  justify-content: space-around;
  align-items: center;
}

.header-logo{
    /* border: 2px solid red;    */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 90%;
}
.header-logo .logoImage{
  height: 50%;
  /* margin-bottom: 3rem; */
}
.nav-list1{
  /* border: 2px solid green; */
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list1 ul{
  list-style-type: none;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 90%;
}
.nav-list1 ul li{
  /* border: 2px solid blue; */
  text-align: center;
  /* font-size: 20px; */
  padding: 13px;
  /* padding: 10px; */
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  margin-left: 10px;
  /* margin-top: 2rem; */
}




/* ////////Navbar//////// */
.navbar{
  height: 100vh;
  background: #FAF3DD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.hero-left{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 48%;
 
 }
 .logo{
  /* padding: 19px; */
  margin-top: 2rem;
  /* padding-right: 2rem; */
  margin-left: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* width: 30%; */
  /* border: 2px solid green; */
}
.logoImage{
  height: 70%;
  
}
.black-cofe{
  /* border: 2px solid blue; */
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-top: 4rem;
}
.black-cofe h1{
  margin-top: 3rem;
  text-shadow: 0px -70px 0px rgba(0, 0, 0, 0.05), 0px 70px 0px rgba(0, 0, 0, 0.02);
  color: #817B74;
  font-style: normal;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 80px;
  
  margin-left: 3rem;
  

 }
 .black-cofe p{
  margin-top: 4rem;
  margin-left: 3rem;
  font-size: 22px;
  display: flex;
  text-align: justify;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  
  

 }
.nav-button{
  background: #2E1D03;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  /* margin-top: 2rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin-left: 3rem;

}
.arrow{
  
  margin-left: 2rem;
  height: 20px;
  font-size: 10px;
  
}

 .hero-right{
  /* position: absolute; */
  width: 55%;
  height: 100%;
  /* right: 0%; */
  /* top: 0%; */
  /* border: 2px solid black; */
  background-image: url(Asset/coffee1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }
 .nav-list{
  /* border: 2px solid rgb(23, 233, 51); */
  margin-top: 2rem;
  width: 90%;
 }
 .hero-right ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;

}
.hero-right ul li{

  padding: 15px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  margin-left: 10px;
  
}
 /* .coffee1image{
  height: 100%;
  width: 80%;
 } */

 /* //////////product////////// */
.products{
  background-image: url(./Asset/coffee\ patter\ 1.png);
  height: 50vh;
  background-color: #FAF3DD;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-container{
  background-color: white;
  border-radius: 10px;
  /* border: 2px solid blue; */
  width: 90%;
  height: 90%;
  display: flex;
}
.product-left{
  height: 100%;
  width: 30%;
  /* border: 2px solid red; */
  padding: 3% 25px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #2E1D03;
}
.product-left h2{
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #2E1D03;
  font-family: 'Plus Jakarta Sans', sans-serif;

}

.product-right{
  height: 100%;
  width: 70%;
  /* border: 2px solid red; */
  display: flex;
  
}
.product-boxes{
  height: 85%;
  width: 26%;
  padding: 10px;
  /* border: 2px solid blue; */
  margin: 25px;
  background: #FFFFFF;
border-radius: 10px;
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

}
.product-tag{
  display: flex;
  background: #FAF3DD;
  border-radius: 25px;
  height: 20%;
  padding: 1px 10px;
  /* padding: 1px; */
  width: 100%;
  /* gap: 15px; */
  justify-content: space-around;
}
.product-tag p{
  color: #2E1D03;
  margin-top: 0.5rem;
  font-family: 'Poppins', sans-serif;
}
.productimage{
 margin-left: 1rem;
}
.productimage3{
  margin-left: 1rem;
  height: 79%;
 }
 .product-button{
  background: #2E1D03;
  color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 2rem;
 }


 /* ///////////////About///////// */
 .about{
  height: 170vh;
  background: #FAF3DD;
  /* border: 2px solid red; */
 }
 .about-head{
  text-align: center;
  /* margin-top: 2rem; */

 }
 .border{
  /* border: 4px solid black; */
  width: 10px;
  height: 10px;
  background-color: black;
 }
 
 /* .about-head div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 } */
 .about-head div .dash{
  /* font-size: 20px; */
  font-weight: 900;
  /* width: 20%; */
  /* height: 20%; */
 }
 .about1{
  display: flex;
  height: 50vh;
  /* border: 2px solid red; */
 }
 .about1-left{
  /* border: 2px solid blue; */
  height: 100%;
  width: 50%;
  margin-left: 3rem;
  /* padding: 0px 26px; */
 }
 .about1-left h3{
    /* margin-top: 2rem; */
    /* margin-left: 3rem; */
    color: #817B74;
    font-weight: 700;
    font-size: 64px;
    font-family: 'Plus Jakarta Sans', sans-serif;
 }
 .about1-left  p{
  margin-top: 2rem;
  /* margin-left: 3rem; */
  color: #2E1D03;
  line-height: 200%;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
 .about1-right{
  /* border: 2px solid blue; */
  height: 100%;
  width: 50%;
  /* display: flex; */
  /* justify-content: end; */
 }
 .aboutimagediv{
  height: 100%;
 }

 .about2{
  height: 70vh;
  display: flex;
  /* border: 2px solid red; */
  margin-top: 3rem;

 }
 .about2-left{
  height: 100%;
  width: 50%;
  /* border: 2px solid red; */
 }
         
 .about2-image{
  
  margin-left: 2.5rem;

 }
 .about2-right{
  /* margin-top: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin-right: 3rem;
  height: 100%;
  width: 50%;
  /* border: 2px solid red; */
 }

 .about2-right h3{
  text-align: right;
  margin-top: 2rem;
  color: #817B74;
  font-weight: 700;
  font-size: 64px;
  font-family: 'Plus Jakarta Sans', sans-serif;
 }
 .about2-right p{
  margin-top: 2rem;
  text-align: right;
  /* margin-left: 3rem; */
  color: #2E1D03;
  line-height: 200%;
  font-size: 20px;
  font-weight: 400;
  line-height: 200%;
  font-family: 'Poppins', sans-serif;
 }
 .about-button{
  /* margin-left: 2.5rem; */
  display: flex;
  background: #2E1D03;
    color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 1rem;
 }
 
 .about-button-2{
  background: #2E1D03;
    color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 1rem;
    align-items: right;
    display: flex;
    /* flex-direction: column; */
    justify-content: right;
    /* border: 2px solid red; */
 }


 /* //////////testimony////// */

 .testimony-container{
  height: 100vh;
  /* border: 2px solid red; */
  background-color: #FAF3DD;
  background-image: url(Asset/coffee\ patter\ 2.png);

 }
 .testimony{
  height: 100%;
  /* border: 2px solid red; */
  display: flex;

 }
 .testimony-left{
  display: flex;
  height: 100%;
  width: 50%;
  /* border: 2px solid green; */
  flex-direction: column;
  margin-left: 3rem;
  /* margin-bottom: 3rem; */
  justify-content: space-around;
  background-image: url(Asset/coffee\ bean\ lot\ 1.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  
 }
 .testimony-left h2{
  font-size: 50px;
  font-weight: 400;
  font-family: 'Plus Jakarta Sans', sans-serif;
 }

 .testimony-box1{
  /* margin-top: 12rem; */
  line-height: 1;
  /* border: 2px solid red; */
  padding: 10px 15px;
  height: 35%;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
box-shadow: 0px 4px 28px rgba(17, 87, 192, 0.05);
backdrop-filter: blur(20px);
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
/* align-items: center; */
position: relative;
bottom: 15%;
}
.name{
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid yellow; */
}
.name p{
  /* margin-top: 1rem; */
}

 .testimony-flex{
  display: flex;
  /* border: 2px solid green; */
  margin-left: 2rem;
  padding: 5px 10px;
 }
 .testimony-flex h6{
  padding: 15px 10px;
  font-family: 'Plus Jakarta Sans', sans-serif;
 }
 .testimony-box1 p{
  margin-left:2rem;
  line-height: 20px;
 }

 .testimony-right{
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  /* margin-top: rem; */
  height: 100%;
  width: 50%;
  /* border: 2px solid green; */
  background-image: url(Asset/coffee\ bean\ lot\ 1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: relative;
  right: 20%; */
 }
 .testinomy-box2{
  margin-top: 2rem;
  /* border: 2px solid red; */
  margin-right: 3rem;
  height: 25%;
  width: 90%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 28px rgba(17, 87, 192, 0.05);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  right: 15%;
  bottom: 10;
 }

 .testimony-bottom{
  /* margin-top: 4rem; */
  justify-content: flex-start;
  margin-left: 10rem;
  /* border: 2px solid red; */
  /* margin-left: 3rem; */
  height: 25%;
  width: 90%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 28px rgba(17, 87, 192, 0.05);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  position: relative;
  right: 50%;
 }
 .testimony-img{
 
 }

 

 /* /////////blog/////// */
 .blog{
  height: 100vh;
  /* border: 2px solid blue; */
  background: #FAF3DD;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }
 .blog-head{
  text-align: center;
  margin-bottom: 3rem;
 }
 .blog-head h3{
font-size: 34px;
font-family: 'Plus Jakarta Sans', sans-serif;
font-weight: 700;
 }
 .blog-head p{
  font-family: 'Poppins', sans-serif;
 }
 .blog-border{
  height: 80%;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 .blog-box{
  height: 80%;
  width: 25%;
  /* border: 2px solid black; */
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;

 }
 .blog-box h4{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Plus Jakarta Sans', sans-serif;
  /* line-height: 90%; */
  /* margin-bottom: 1rem; */
  
 }
 .blog-box p{
  /* line-height: 100%; */
  font-family: 'Poppins', sans-serif;
 }
 .blog-button{
  background: #2E1D03;
    color: #fff;
    border-radius: 10px;
    padding: 15px 70px;
    margin-top: 1rem;
    /* align-items: right; */
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid red; */
    /* width: 100%; */
    /* gap: 15px; */

 }
 .img{
  width: 100%;
 }
 /* /////////////////footer/////////////////// */
 .footer-container{
  height: 80vh;
  /* border: 2px solid red; */
  background-color: #FAF3DD;
  background-image: url(Asset/coffee\ patter\ 2.png);
 }
 .footer{
  height: 80%;
  /* border: 2px solid red; */
  display: flex;
 }
 .footer-left{
  height: 90%;
  width: 50%;
  /* border: 2px solid red; */
  margin-top: 3rem;
  /* margin-left: 3rem; */
 }
 .footer-left-div{
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  /* border: 2px solid blue; */
  height: 70%;
  width: 50%;
  /* margin-left: 3rem; */
 }
 .footer-left1{
  flex-direction: column;
  display: flex;
  margin-bottom: 3rem;
 }
 .footer-ul{
  margin-top: 2rem;
  line-height: 50px;
 }
 .footer-right{
  height: 90%;
  width: 50%;
  /* border: 2px solid red; */
  margin-top: 3rem;
 }
 .footer-right h3{
  font-size: 44px;
  font-weight: 900;
  font-family: 'Plus Jakarta Sans', sans-serif;

 }
 .footer-right p{
  font-family: 'Poppins', sans-serif;
 }
 .footer-button1{
  background: #2E1D03;
  color: #fff;
  border-radius: 10px;
  padding: 10px 40px;
  display: flex;
  /* margin-bottom: 1rem; */
  margin-left: 2rem;
  width: 30%;
 }
 .footer-button{
  background: #2E1D03;
    color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 2rem;
    
    
 }
 
 .footer-right {
  padding: 0 15px;
  align-items: flex-end;
  text-align: right;
  /* line-height: 5; */
  margin-right: 3rem;
  /* justify-content: space-evenly; */
 }
 
 .footer-right p{
  line-height: 3;
  font-family: 'Poppins', sans-serif;
 }
 .lastdiv{
  height: 20%;
  /* border: 2px solid blue; */
  background: white;
  background-image: url(Asset/coffee\ patter\ 1.png);
  text-align: center;
  padding: 2rem 0px;
 }
 .lastdiv p{
  font-family: 'Poppins', sans-serif;
 }


 /* //////////////media//////////////// */

 
 @media screen and   (max-width:600px) {
  /* //////header////// */
.header{
  height: 100%;
  width: 100%;
  /* border: 2px solid blue; */
  background: #FAF3DD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo{
    /* border: 2px solid red;    */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 95%;
    height: 70%;
}
/* .header-logo .logoImage{
  height: 50%;
} */
.nav-list1{
  /* border: 2px solid green; */
  height: 100%;
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.nav-list1 ul{
  /* list-style-type: none; */
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  width: 90%;
  height: 90%;
}
.nav-list1 ul li{
  /* border: 2px solid blue; */
  /* text-align: center; */
  font-size: 20px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /* padding: 13px; */
  /* padding: 10px; */
  /* background: rgba(255, 255, 255, 0.25); */
  /* backdrop-filter: blur(15px); */
  /* border-radius: 5px; */
  /* margin-left: 10px; */
  /* margin-top: 2rem; */
}
.nav-list1 ul li:hover{
  background-color: #2E1D03;
  color: white;
}





  

  
  /* ////////Navbar//////// */
.navbar{
  height: 100%;
  /* background: #FAF3DD; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.hero-left{
  /* border: 2px solid red; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: flex-start; */
  height: 100%;
  width: 95%;
  margin-top: 2rem;
 
 }
 .logo{
  
  display: none;
 
}

.black-cofe{
  /* border: 2px solid blue; */
  width: 100%;
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 1rem;
 
}
.black-cofe h1{
  /* margin-top: 3rem; */
  text-shadow: 0px -55px 0px rgba(0, 0, 0, 0.05), 0px 55px 0px rgba(0, 0, 0, 0.02);
  /* color: #817B74; */
  /* font-style: normal; */
  width: 100%;
  font-size: 45px;
  
  /* margin-left: 3rem; */
  

 }
 .black-cofe p{
  width: 95%;
  text-align: justify;
  justify-content: center;
  display: flex;
  align-items: center;
  /* margin-top: 4rem; */
  /* margin-right: 9rem; */
 padding-right: 3rem;
  

 }
.nav-button{
  /* background: #2E1D03; */
  width: 50%;
  /* margin-left: 3rem; */

}


 .hero-right{
  display: none;
  /* position: absolute; */
 }
 .nav-list{
  /* border: 2px solid rgb(23, 233, 51); */
  margin-top: 2rem;
  width: 90%;
 }
 .hero-right ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;

}
.hero-right ul li{

  padding: 15px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  margin-left: 10px;
  
}


/* =======products===== */


  .products{
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .product-container{
    height: 100%;
    width: 80%;
    flex-direction: column-reverse
  }
  .product-left{
    height: 100%;
    width: 100%;
  }
  .product-right{
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
  }
  .product-boxes{
    height: 100%;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    
  }

  /* ...........about........... */
  .about{
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

   }
   .about-head{
    text-align: center;
    /* margin-top: 2rem; */
    height: 50%;
    width: 90%;
  
   }
  
   .about1{
    display: flex;
    height: 100%;
    /* border: 2px solid red; */
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
   }
   .about1-left{
    /* border: 2px solid blue; */
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   }
   .about1-left h3{
      /* font-weight: 500; */
      font-size: 30px;
      width: 100%;
   }
   .about1-left  p{
    display: flex;
    text-align: justify;
    justify-content: flex-start;
    margin-right: 2rem;
    width: 90%;
    height: 100%;
    font-size: 15px;
       
  }
   .about1-right{
    /* border: 2px solid blue; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
   }
  
   .about2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .about2-left{
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
   
   }
           
   .about2-image{
    height: 70%;
    width: 90%;

    /* margin-left: 2.5rem; */
  
   }
   .about2-right{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
  
   }
  
   .about2-right h3{
    width: 100%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
   }
   .about2-right p{
    display: flex;
    text-align: justify;
    justify-content: flex-start;
    margin-left: 2rem;
    width: 90%;
    height: 100%;
    font-size: 15px;
    /* line-height: 100%; */
   }
   .about-button{
   width: 80%;
   justify-content: center;
   }
   
   .about-button-2{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
   }



  /* ///////testimony///////////////// */
  .testimony-container{
    height: 100%;
    width: 100%;
    flex-direction: column;
   }
   .testimony{
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   }
   .testimony-left{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  
   .testinomy-box1{
    height: 100%;
    width: 80%;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    
  }
 
 
   .testinony-flex{
    display: flex;
   height: 100%;
   width: 70%;
   justify-content: center;
   align-items: center;

   }
   .testinony-flex p{
    /* margin-right: 0.5rem; */
    width: 70%;
    height: 100%;
   }
  
   .testimony-right{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    height: 100%;
    width: 100%;
   
   }
   .testinomy-box2{
    margin-bottom: 2rem;
    margin-left: 3rem;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0 ;
    right: 0;
   
   }
  
   .testimony-bottom{
    margin-left: 17rem;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .testimony-img{
     width: 60%;
     margin-right: 1rem;
   }

   /* ......blog//////////////? */
   
  .blog{
    height: 100%;
    width: 100%;
    flex-direction: column;

  }
  .blog-head{
    width: 100%;
    height: 100%;
  }
  .blog-border{
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .blog-box{
    width: 80%;
    height: 100%;
    flex-direction: column;
  }
  .blog-button{
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
  }
  /* .............footer................///// */

  .footer-container{
    height: 100%;
    width: 100%;

  }
  .footer{
    height: 100%;
    width: 100%;
    flex-direction: column-reverse;
  }
  .footer-left{
    height: 100%;
    width: 100%;
    
  }
  .footer-left-div{
    width: 100%;
    height: 100%;
    
  }
  .footer-right{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

  }
  .footer-right h3{
    width: 70%;
    height: 100%;
    font-size: 30px;

  }
  .footer-right p{
    width: 100%;

  }
  .footer-button1{
    display: none;
  }
  .footer-button{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1.5rem;
  }
  .lastdiv{
    width: 100%;
  }
  .lastdiv p{
    width: 80%;
    margin-left: 2rem;
  }

  
 }

